@import "tailwindcss";

/* =========================
   TEMA PADRÃO
========================= */
@theme {
  --color-primary: #006b64;
  --color-primary-hover: #216f7d;
  --color-background: #ffffff;
  --color-foreground: #0f172a;
}


/* =========================
   BASE BOTÃO
========================= */
@utility btn-base {
  @apply
  px-4
  py-2
  rounded-md
  font-medium
  transition-colors
  duration-200
  focus:outline-none
  focus:ring-2
  focus:ring-offset-2;
}

/* =========================
   BOTÃO PADRÃO
========================= */
@utility btn-primary {
  @apply btn-base
  bg-primary
  text-white
  hover:bg-primary-hover
  focus:ring-primary;
}
/* =========================
   BOTÃO NAVBAR
========================= */
@utility btn-navbar {
  @apply btn-base
  text-primary
  bg-transparent
  hover:text-primary-hover
  focus:ring-primary;
}